# This is a basic workflow to help you get started with Actions

name: Tests

# Controls when the action will run. Triggers the workflow on push or pull request 
# events but only for the master branch
on:
  push:
    branches:
      - feature/*
      - develop
      - master
  pull_request:
    branches:
      - develop
      - master

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-18.04

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    # Runs a single command using the runners shell
    - name: Run a one-line script
      run: echo Hello, world!

    # Runs a set of commands using the runners shell
    - name: Run a multi-line script
      run: |
        echo Add other actions to build,
        echo test, and deploy your project.
             
    # Sends result of CI test to Slack/backend-builds
    - name: Slack Notification
      uses: rtCamp/action-slack-notify@v2.0.0
      env:
        SLACK_CHANNEL: backend-builds
        if: failure()
          - SLACK_COLOR: '#FF0000'
        if: success()
          - SLACK_COLOR: '#32CD32'
        SLACK_ICON: https://avatars1.githubusercontent.com/u/583231?s=400&v=4
        SLACK_TITLE: ${{ job.status }}
        SLACK_USERNAME: Tests
        SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
